.formulaire{
    background-color: white;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    border-top: #00b39b 0.5rem solid;
    margin-bottom: 100px;
  }

  h2{
    margin: 1rem 0;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

  }
  
  form div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  font-size: 1.1rem;
}